<html>
	<head>
		<!-- Balise qui sert à définir l'encodage des caractères -->
		<meta charset="utf-8" />
		<!-- Balise qui sert à définir le nom de l'onglet. -->
		<title>Formulaire NSI</title>
		<!-- Balise qui sert à faire le lien avec le fichier CSS -->
		<link href=""css/style.css"" rel="stylesheet" type="text/css" media="screen"/>
	</head>

	<body>
		<div id = "titre"> Premier formulaire méthode GET </div>
	
		<form action = "/index1.ejs" name="formulaire" id="formule" method = <!-- Choisir la méthode "post" ou "get" à mettre entre guillemets --> >
			<div id = "civilite">
				<!--    C'est ici qu'on crée la partie du formulaire en rapport avec la civilité -->
			</div>
			<div id = "divnom">
				<!--    C'est ici qu'on crée la partie du formulaire en rapport avec la demande du nom. -->
				<!--    C'est ici qu'on crée la partie du formulaire en rapport avec la demande du mot de passe. -->
			</div>
			<div id = "divadresse">
				<!--    C'est ici qu'on crée la partie du formulaire en rapport avec la demande d'adresse. -->
			</div>
			<div id = "divclasse">
				<!--    C'est ici qu'on crée la partie du formulaire qui demande la classe. On choisire un sélecteur offrant plusieurs options. -->
			</div>
			<input id="bouton" type="submit" value="Suivant"></input>
		</form>
	</body>
</html>